<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Smartdown Grid Layout (using vue-grid-layout) </title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="vuegridlayout.css">

    <link rel="stylesheet" href="https://smartdown.site/lib/fonts.css">
    <link rel="stylesheet" href="https://smartdown.site/lib/smartdown.css">
    <script src="https://smartdown.site/lib/smartdown.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://unpkg.com/js-yaml/dist/js-yaml.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/vue-grid-layout/dist/vue-grid-layout.umd.min.js"></script>
  </head>

  <body
    class="container container-fluid"
    id="bodyID">
      <div
        v-cloak
        v-bind:class="{ 'disable-select': isDragging() }"
        id="layoutApp">

        <div
          class="navigationArea">
          <div class="row" v-if="tableaux.length > 0">
            <div class="col-xs-10" style="padding:0;">
              <button
                v-for="t in tableaux"
                class="btn btn-default btn-xs tableau-button"
                v-bind:class="{ current: isCurrentTableau(t) }"
                v-bind:disabled="isCurrentTableau(t)"
                v-on:click="loadTableauByName(t)">
                {{t}}
              </button>
            </div>

            <div class="col-xs-2" style="padding:0;">
              <button
                class="btn btn-default btn-xs"
                v-on:click="loadHomeTableau()">
                Home
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10" style="padding:0;">
              <button
                v-for="item in tableau.layout.cells"
                class="btn btn-default btn-xs card-button"
                v-bind:class="{ focused: isCardFocused(item.name) }"
                v-on:click="toggleFocusOnCard(item.name)">
                {{item.name}}
              </button>
            </div>
            <div class="col-xs-2" style="padding:0;">
              <button
                class="btn btn-default btn-xs card-button"
                v-on:click="focusOnCard('')">
                None
              </button>
            </div>
          </div>
        </div>

        <div
          v-if="!kioskMode"
          class="authorArea">
          <div
            class="toggle-author-area-button" @click="toggleAuthorMode()">
            &nbsp;&equiv;&nbsp;
          </div>
          <div class="row" v-if="authorMode">
            <div class="col-xs-8">
              <input
                type="file"
                id="selectedFiles"
                accept=".md,.yaml"
                v-on:change="filesSelected"
                multiple/>
            </div>
            <div class="col-xs-4">
              <button class="btn btn-default btn-xs" v-on:click="exportTableau">Export Tableau</button>
            </div>
            <div class="col-xs-12">
              <button class="btn btn-default btn-xs" v-on:click="switchToColumnLayout">Column Layout</button>
              <button class="btn btn-default btn-xs" v-on:click="switchToRowLayout">Row Layout</button>
              <button class="btn btn-default btn-xs" v-on:click="switchToStaggeredLayout">Staggered Layout</button>
              <button class="btn btn-default btn-xs" v-on:click="switchToXLayout">X Layout</button>
            </div>
          </div>
          <div class="row" v-if="authorMode">
            <div class="col-xs-12">
              <div class="layoutItem" v-for="item in tableau.layout.cells">
                  <b>{{item.i}}</b>: [{{item.x}}, {{item.y}}, {{item.w}}, {{item.h}}]
              </div>
            </div>
          </div>
        </div>

        <div id="content" class="smartdown-container">
          <grid-layout  ref="layout"
                        :layout="tableau.layout.cells"
                        :col-num="numCols"
                        :row-height="rowHeight"
                        :margin="[5, 5]"
                        :is-draggable="draggable"
                        :is-resizable="resizable"
                        :vertical-compact="true"
                        :use-css-transforms="true">
            <grid-item
              v-for="item in tableau.layout.cells"
              :key="item.i"
              :x="item.x"
              :y="item.y"
              :w="item.w"
              :h="item.h"
              :i="item.i"
              v-bind:class="{ 'in-focus': isCardFocused(item.name) }"
              @resized="resizedEvent"
              drag-allow-from=".vue-draggable-handle"
              drag-ignore-from=".no-drag">

              <div
                class="vue-draggable-handle"
                v-bind:class="{ 'hide-draggable': !draggable }"
                v-on:click="dragStart">
              </div>

<!--
  work in progress to create a smartdown component and simplify applySmartdown()
  and fitContent(). See grid_helper.js for more info.

              <smartdown
                class="no-drag smartdown-tile"
                v-bind:class="{ 'in-focus': isCardFocused(item.name) }"
                v-bind:id="item.divID"
                :content="item.content">
              </smartdown>
 -->

              <div
                class="no-drag smartdown-tile"
                v-bind:id="item.divID">
              </div>
            </grid-item>
          </grid-layout>
      </div>
    </div>

<script>
//
// The options below control how the grid_helper behaves.
// They are designed to support publishing via bl.ocks.org, a blog, or Wordpress
//
//  kioskMode - 'true' means disable the Settings checkbox
//  tableaux - A list of names of tableaux in the tableaux/ directory
//  defaultTableauName - The tableau to load by default. Default is tableaux[0]
//

window.gridHelperOptions = {
  kioskMode: false,
  authorMode: false,
  tableauxPrefix: 'tableaux/',
  tableaux: ['Welcome', 'Comic', 'Gallery', 'WebGL', 'Pegoda'],
  defaultTableauName: 'Welcome',
};
</script>

<script src="grid_helper.js"></script>

  </body>
</html>
